.about-us-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    /* Tạo khoảng cách giữa các phần tử */
    height: auto;
}

.about-us-container .image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Chống phần tràn xuống section dưới */
.about-us-container+* {
    margin-top: 50px;
}