.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 1;
    margin-right: 40px;
    background-color: #00c8a0;
}

.contact-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-detail {
    display: flex;
    flex-direction: column;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item i {
    font-size: 18px;
    color: #00c8a0;
    margin-right: 10px;
}

.contact-item span {
    font-size: 16px;
    color: #333;
}

.contact-form {
    flex: 1;
    background-color: #d6d6d6;
    padding: 40px;
    border-radius: 5px;
}

.contact-form .title {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}

.contact-form .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    height: 120px;
}

.btn {
    background-color: #00c8a0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f2f2f2;
}