#header{
    padding-left: 50px;
    padding-right: 50px;
}
.mid-row-header .mid-row-header-1 ul,
.mid-row-header .mid-row-header-2 ul{
    display: flex;
}
.mid-row-header .mid-row-header-1 ul li,
.mid-row-header .mid-row-header-2 ul li{
    list-style-type: none;
}
.mid-row-header .mid-row-header-1 ul li{
    padding: 10px 20px;
    font-weight: bold;
}
.mid-row-header .mid-row-header-2 .nav-bar-header-right,
.mid-row-header .mid-row-header-2 ul li{
    padding: 15px 30px;
    text-transform: uppercase;
}
.mid-row-header .mid-row-header-2 ul li a:hover{
    background-color: linear-gradient(to bottom, #00B98E, #00A07B);
}
.mid-row-header .mid-row-header-2 {
    display: flex;
}
.header-logo{
    padding-right: 20px;
}