.address-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.address-popup-container {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00b98e;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.popup-header h2 {
    color: #007a5e;
    font-size: 1.5rem;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: translateY(0px);
}
.close-btn:hover {
    transform: scale(1.8);

}

.popup-body .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.popup-body label {
    font-size: 1rem;
    color: #000;
    margin-bottom: 5px;
    font-weight: 500;
}

.popup-body input {
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s, box-shadow 0.3s;
}

.popup-body input:focus {
    border-color: #007a5e;
    box-shadow: 0 0 5px rgba(0, 185, 142, 0.4);
}

.popup-body .multi-fields {
    display: flex;
    gap: 10px;
}

.popup-footer {
    text-align: center;
}

.popup-footer .btn {
    background: #00b98e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-footer .btn:hover {
    background: #007a5e;
}
