.profile .container{
    margin-top: 150px;
}
*{
    font-family: 'Poppins', sans-serif;
}
.profile {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1200px;
}

.profile .container {
    display: flex;
    gap: 20px;
}
.my-address h2,
.profile-info h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.profile-info,
.my-address {
    width: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.border-bt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #00b98e;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}
.address-details-body{
    display: flex;
    align-items: center;
}
.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background: #00b98e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.add-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #00b98e !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #007a5e;
}

.address-list {
    margin-top: 20px;
}

.my-address-addresses {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
} 

.address-icon {
    width: 50px;
    height: 50px;
}

.address-details {
    flex-grow: 1;
}

.address-details-left p {
    margin: 0;
}
.address-details-right{
    margin-top: 10px;
}
.address-details-right button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.address-details-right button:hover {
    background-color: #007a5e;
}

.background {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.background-left img,
.background-right img {
    width: 100%;
    border-radius: 8px;
}
.top-image-profile{
    text-align: center;
}
.top-image-profile img{
    border-radius: 50%;
    border: 5px solid #00b98e;
    margin-top: 10px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    transform: translateY(0px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.top-image-profile img:hover{
    transform:translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
.bottom-profile button,
.top-image-profile label{
    font-size: 16px;
    color: #fff;
    display: block;
    background-color: #00b98e !important;
    width: max-content;
    border-radius: 50px;
    margin: 20px auto !important;
}
.my-address .add-btn{
    border-radius: 50px;
}

@font-face {
    font-family: 'Poppins';
    src: url('/frontend-user/public/DesignerVN-Poppins-ExtraBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/frontend-user/public/DesignerVN-Poppins-Regular.ttf') format('truetype');
  }


  @media only screen and (max-width: 48em){
    .profile .container {
        margin-top: 0px;
    }
    .profile .container {
        display: block;
    }
    .profile-info, .my-address {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
  }