.orders-right-2 canvas{
    height: 300px !important;
    width: 500px !important;
}

.orders-right-2{
    display: flex;
    justify-content: center;
}

.user-factors-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.user-factors-title {
    text-align: center;
    margin-bottom: 20px;
}

.user-factors-title h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
}

/* Thẻ thông tin */
.info-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
}

.info-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.info-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #34495e;
}

.info-card p {
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .info-cards {
        grid-template-columns: 1fr;
    }
}
