.sidebar {
    width: 10vw;
    min-height: 100%;
    border-top: 0;
    font-size: 1em;
    background: #000;
    position: relative;
    z-index: 999;
}


.sidebar .sidebar-options .sidebar-option i,
.sidebar .sidebar-options .sidebar-option p {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px !important;
    transition: color 0.3s ease;
    font-size: 0.9em;
}

.sidebar .sidebar-options .sidebar-option.active i,
.sidebar .sidebar-options .sidebar-option.active p {
    color: #000;
}

.sidebar-options {
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    /* Căn giữa các mục trong sidebar */
    align-items: center;
    height: 100%;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 8px 10px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.7;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    justify-content: flex-start;
    /* Để căn các phần tử con về bên trái */
    text-align: left;
    width: 100%;
    /* Để các phần tử con chiếm hết chiều rộng của .sidebar-option */
}


.sidebar-option:hover {
    color: #000;
    background-color: #DDDD;
    text-decoration: none;
}

a.sidebar-option.active {
    background-color: #fff;
    color: #000;
    opacity: 1;
    transform: translateX(0);
    text-decoration: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-confirm,
.btn-cancel {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.btn-confirm {
    background-color: #f24405;
    color: white;
}

.btn-cancel {
    background-color: #ccc;
}

.swal2-title,
swal2-html-container {
    font-family: 'bootstrap-icons';
}

.logo-sidebar {
    text-align: center;
    background-color: #DDDD;
    border-bottom: 1px solid #ccc;
}

.Logout {
    width: 10vw;
    position: fixed;
    bottom: 25px;
}

.Logout .sidebar-option {
    border-style: double;
    border-radius: 50px;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.Logout .sidebar-option:hover {
    background-color: #ccc;
    transform: scale(1.05);
}

@media(max-width:1050px) {
    .sidebar-option p {
        display: none;
    }
}