.partners {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  .partners h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight:600;
  }
  .partners-grid {
    display: flex;
    justify-content: center;
  }
  .partners-grid img {
    height: 110px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  